<h1>Welcome to My Awesome Site, <%= @user.email %>!</h1>
<p>
  We are excited to have you on board. Get ready to explore and enjoy all the awesome features we have to offer!
</p>
<p>
  Cheers,<br/>
  The Awesome Site Team
</p>
